@font-face {
    font-family: Norse-bold;
    src: url(./Norse-Bold.otf);
  }


:root {
    --softWhite: rgba(245,245,245,1);
}

* {
    margin: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #111;
    overflow: auto;
}

.main {
    position: relative;
    width: 75%;
    height: 100%;
}

.left {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 35%;
    height: 100%;
    background-image: url(./halie-west-leaf.jpg);
    background-size: cover;
}
    .logo-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20%;
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .logo {
        height: 15vh;
        min-height: 100px;
        margin: 1rem 0rem;
    }

    .logo-text {
        color: whitesmoke;
        font-size: max(11vh, 90px);
        font-family: Norse-bold, 'Times New Roman', Times, serif;  
    }

    .credit-text {
        position: absolute;
        bottom: 10px;
        color: var(--softWhite);
        font-size: max(1.05rem, 16px);
    }

    a {
        color: var(--softWhite);
    }


.right {
    position: absolute;
    width: 65%;
    height: 100%;
    right: 0;
}

    .top-right,
    .middle-right,
    .bottom-right,
    .middle-right {
        width: 100%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: max(16px, 2.5vh);
    }

    .top-right {
        background-color: var(--softWhite);
        position: inherit;
        display: flex;
        flex-direction: column;
        top: 0;
        height: 36%;
        font-weight: 900;
    }

        .statement {
            padding-top: 5em;
            width: 80%;
        }

        .hook {
            padding-top: 1.5em;
        }

    .middle-right {
        position: inherit;
        display: flex;
        flex-direction: column;
        top: 36%;
        height: 32%;
        min-height: fit-content;
        box-shadow: 0px 8px 7px -5px #777777;
        background-color: white;
        z-index: 1;
        border-top: 1px solid #eee;
    }

        .middle-right p {
            display: flex;
            align-items: center;
            font-weight: 900;
            font-size: max(16px, 3vh);
            color: #3c3c3c;
        }

        .middle-right form {
            display: flex;
            flex-direction: column;
            flex: 4;
            padding: 0 20% 25px 0;
        }

            .middle-right form > div {
                display: flex;
            }

                .middle-right form > div > div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0;
                    
                }

            label {
                font-size: max(10px, 1.2vh);
                letter-spacing: 1px;
                font-weight: bold;
                color: #3c3c3c;
            }

            input {
                width: 80%;
                height: 50%;
                border: 1px #E5E7EB solid;
                border-radius: 5px;
                height: 2rem;
            }

            .middle-right .password-warning {
                position: absolute;
                bottom: 5%;
                font-size: max(10px, 1.5vh);
                color: red;
            }

        .middle-right p,
        .middle-right div {
            flex: 1;
        }

    .bottom-right {
        background-color: var(--softWhite);
        position: inherit;
        bottom: 0;
        height: 32%;
    }

        .bottom-right a {
            color: #596D48;
        }

        .bottom-right button {
            background-color: #596D48;
            color: whitesmoke;
            border-radius: 8px;
            border: none;
            box-shadow: 2px 2px 8px #777;
            font-size: max(16px, 2.2vh);
            padding: 2vh 6vh;
            margin: 2em 0 2em 0;
            font-weight: 900;
        }

        .bottom-right p {
            font-weight: bold;
            font-size: max(16px, 2vh);
            color: #3c3c3c;
        }

        

        .statement,
        .hook,
        .bottom-right button,
        .bottom-right p,
        .middle-right p,
        .middle-right div {
            margin-left: 3rem;
        }


        :focus-visible {
            outline: none;
            border: 1px solid #c8c8ff;               
            box-shadow: 1px 1px 5px #c8c8ff;
        }

        .invalid {
            border: 1px solid red;
        }

        .hidden {
            opacity: 0;
        }
        
